@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-extrabold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Sarmady';
    src: url('../assets/fonts/sarmady-light.otf') format('opentype');
    font-weight: 300;
}